

.photo-gallery{
    padding: 100px 20px 20px 20px; 
    position:relative;
}

.heading{
    position: absolute;
    top: 75px;
    left: 45%;
    border: 2px solid #205012;
    background-color: #67ae4c;
    width: 10%;
    height: 8vh;
}
.heading> h1{
    text-align: center;
    color: #205012;
    font-size: 6vh;
}

.gallery-1{
    border: 2px solid #205012;
    /* width: 100%;
    height: 280px; */
    padding: 10px 10px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.gallery-1> i{
    font-size: 50px;
}
.gallery-1> i:hover{
    color: #67ae4c;
}

.photo-box1{
    padding: 20px;
    width: 200px;
    height: 260px;
    
}
.photo-box1> img{
    border: 1px solid #205012;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/* .photo-box2{
    padding: 20px;
    width: 200px;
    height: 260px;
    
}
.photo-box2> img{
    border: 1px solid #205012;
    height: 100%;
    width: 100%;
    object-fit: cover;
} */