
.photo-gallery{
    padding: 40px 20px 0px 20px; 
}
.container{
    /* position: relative; */
    width: 100%;
    justify-items: center;
    border: 2px solid #205012;
}

.heading{
    border: 2px solid #205012;
    background-color: #67ae4c;
    display: flex;
    text-align: center;
    justify-content: center;
    /* width: 150px;
    height: 50px; */
}
.heading> h1{
    
    color: #205012;
    background-color: #67ae4c;
    font-size: 40px;
}

.gallery-1{
    border: 2px solid #205012;
    /* width: 100%;
    height: 280px; */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.gallery-1> i{
    font-size: 50px;
    color: #67ae4c;
}
.gallery-1> i:hover{
    color: #205012;
}

@media(max-width:640px){
.photo-box2{
    display: none;
}
}

.photo-box1{
    padding: 20px;
    width: 260px;
    height: 280px;
    
}
.photo-box1> img{
    border: 1px solid #205012;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.photo-box2{
    padding: 20px;
    width: 260px;
    height: 280px;
    
}
.photo-box2> img{
    border: 1px solid #205012;
    height: 100%;
    width: 100%;
    object-fit: cover;
}