* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #d0dacd; */
}

/* nav bar section started*/
.menu-bar {
    width: 100%;
    display: flex;
    background-color: #67ae4c;
    padding: 5px 15px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

.title {
    background-color: #67ae4c;
    display: flex;
    align-items: center;
    justify-content: left;
}

.title>img {
    background-color: #67ae4c;
    height: 50px;
    padding-right: 5px;
}

.title>h2 {
    background-color: #67ae4c;
    font-family: "Playball", cursive;
    color: #205012;
    font-weight: 800;
    font-size: 30px;
}

.menu {
    display: flex;
}

.menu>li {
    list-style: none;
    padding: 20px 15px 20px 20px;
    background-color: #67ae4c;
    font-weight: 400;
    font-style: normal;
}

.menu>li>a {
    font-family: "Montserrat Alternates", sans-serif;
    text-decoration: none;
    background-color: #67ae4c;
    color: white;
    font-weight: bold;
    font-size: 17px;
}

.menu>li>a:hover {
    color: #205012;
}
#icons{
    background-color: #67ae4c;
    padding-right: 4px;
}
/* nav bar section closed*/

/* post box section started*/
.post-box {
    width: 100%;
    padding: 90px 20px 20px 20px;
}

.new-post {
    width: 100%;
    height: 500px;
    padding: 40px 0 20px 0;
}

.new-post>img {
    width: 100%;
    height: 100%;
    border: 1px solid #205012;
    object-fit: cover;
}

.post-item {
    width: auto;
    row-gap: 20px;
    column-gap: 20px;
    display: grid;
    grid-template-columns: 1fr;
    
}

.post {
    border: 1px solid #205012;
    width: 100%;
    /* height: 300px; */
    /* aspect-ratio: 1/2; */

}

.post>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-2 {
    border: 1px solid #205012;
    width: 100%;
    grid-row: span 2;
}

.post-2>img {
    border: 2px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* post box section closed*/

/* footer section started */
.box{
    display: flex;
    justify-content: space-between;
    background-color: #67ae4c;
    width: 100%;
    height: 40px;
}
.box> p{
    background-color: #67ae4c;
    color: #205012;
    text-align: left;
    padding: 10px 20px 10px 20px;
}
.box> p> b{
    background-color: #67ae4c;
}
/* footer section closed */

@media(min-width: 640px){
    .post-item {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
        row-gap: 20px;
    }
}
@media(min-width: 640px){
    .post-box {
    width: 100%;
    padding: 50px 20px 20px 20px;
    }
}
@media(min-width: 640px){
    .new-post {
        width: 100%;
        height: 400px;
    }
}
